/*.suo
/2/bin/Debug/2.exe
/2/bin/Debug/2.exe.config
/2/bin/Debug/2.pdb
/2/bin/Debug/2.vshost.exe
/2/bin/Debug/2.vshost.exe.config
/2/bin/Debug/input.txt
/2/bin/Debug/output.txt
/2/obj/Debug/2.csproj.FileListAbsolute.txt
/2/obj/Debug/2.csprojResolveAssemblyReference.cache
/2/obj/Debug/2.exe
/2/obj/Debug/2.pdb
/2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
